# RNA seq fun with pandas
## Replicate analysis

In [1]:
#first try at stat test on the two analyses
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind


df = pd.read_csv("Galaxy210.tabular",sep='\t',header=(0))

df = df.rename(columns = {df.columns[1] : "smtav4_histat2", df.columns[2] : "smtav6_histat2", df.columns[3] :"smtav7_histat2" , df.columns[4] : "smtav4_rnastar2", df.columns[5] : "smtav6_rnastar", df.columns[6] : "smtav7_rnastar"})


df['sum'] = df[df.columns[1]] + df[df.columns[1]]
print(type(df.columns[1]))
df

<class 'str'>

,Geneid,smtav4_histat2,smtav6_histat2,smtav7_histat2,smtav4_rnastar2,smtav6_rnastar,smtav7_rnastar,sum
0,1915,385958,337936,307710,387941,335829,310553,771916
1,2512,161098,130481,127085,164265,131694,128873,322196
2,4512,140247,143531,165329,139396,142947,164257,280494
3,6132,122392,94336,87914,142497,108488,101415,244784
4,2597,112404,89925,82727,116335,91732,84703,224808
...,...,...,...,...,...,...,...,...
28390,9947,0,0,0,0,0,0,0
28391,9951,0,0,1,0,0,1,0
28392,9956,0,0,0,0,0,0,0
28393,9963,0,7,3,0,7,3,0
28394,9992,0,2,4,0,2,4,0

In [65]:
#second try at stat test on the two analyses
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind


df = pd.read_csv("Galaxy210.tabular",sep='\t',header=(0))

df = df.rename(columns = {df.columns[1] : "smtav4_histat2", df.columns[2] : "smtav6_histat2", df.columns[3] :"smtav7_histat2" , df.columns[4] : "smtav4_rnastar2", df.columns[5] : "smtav6_rnastar", df.columns[6] : "smtav7_rnastar"})

#for gene in range(len(df))
#    method_1 = (iloc )

method_1 = df.loc[2,:].values.flatten().tolist()
method_2 = method_1[4:]
method_1 = method_1[1:4]
ttest_ind(method_1, method_2)
#print(method_2)

#df

Ttest_indResult(statistic=0.07559165656449363, pvalue=0.9433736468389192)

In [79]:
#third attempt
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind


df = pd.read_csv("Galaxy210.tabular",sep='\t',header=(0))

df = df.rename(columns = {df.columns[1] : "smtav4_histat2", df.columns[2] : "smtav6_histat2", df.columns[3] :"smtav7_histat2" , df.columns[4] : "smtav4_rnastar2", df.columns[5] : "smtav6_rnastar", df.columns[6] : "smtav7_rnastar"})

results = []
for gene in range(0,3):
    method_1 = df.loc[gene,:].values.flatten().tolist()
    method_2 = method_1[4:]
    method_1 = method_1[1:4]
    ttest_result = ttest_ind(method_1, method_2)
    results.append((ttest_result[0], ttest_result[1])
    
stat_frame = pd.DataFrame(results, columns=[ "statistics", "pvalue"])
print(stat_frame.head())

SyntaxError: invalid syntax (4142459740.py, line 19)