# RNA seq fun with pandas
## Replicate analysis

In [8]:
#first try at stat test on the two analyses
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind


df = pd.read_csv("Galaxy210.tabular",sep='\t',header=(0))

df = df.rename(columns = {df.columns[1] : "smtav4_histat2", df.columns[2] : "smtav6_histat2", df.columns[3] :"smtav7_histat2" , df.columns[4] : "smtav4_rnastar2", df.columns[5] : "smtav6_rnastar", df.columns[6] : "smtav7_rnastar"})


df['sum'] = df[df.columns[1]] + df[df.columns[1]]
print(type(df.columns[1]))
df

<class 'str'>

,Geneid,smtav4_histat2,smtav6_histat2,smtav7_histat2,smtav4_rnastar2,smtav6_rnastar,smtav7_rnastar,sum
0,1915,385958,337936,307710,387941,335829,310553,771916
1,2512,161098,130481,127085,164265,131694,128873,322196
2,4512,140247,143531,165329,139396,142947,164257,280494
3,6132,122392,94336,87914,142497,108488,101415,244784
4,2597,112404,89925,82727,116335,91732,84703,224808
...,...,...,...,...,...,...,...,...
28390,9947,0,0,0,0,0,0,0
28391,9951,0,0,1,0,0,1,0
28392,9956,0,0,0,0,0,0,0
28393,9963,0,7,3,0,7,3,0
28394,9992,0,2,4,0,2,4,0

In [13]:
#second try at stat test on the two analyses
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind


df = pd.read_csv("Galaxy210.tabular",sep='\t',header=(0))

df = df.rename(columns = {df.columns[1] : "smtav4_histat2", df.columns[2] : "smtav6_histat2", df.columns[3] :"smtav7_histat2" , df.columns[4] : "smtav4_rnastar2", df.columns[5] : "smtav6_rnastar", df.columns[6] : "smtav7_rnastar"})

#for gene in range(len(df))
#    method_1 = (iloc )

method_1 = df.loc[2,:].values.flatten().tolist()
method_2 = method_1[4:]
method_1 = method_1[1:4]
ttest_ind(method_1, method_2)
#print(method_2)

#df

Ttest_indResult(statistic=0.07559165656449363, pvalue=0.9433736468389192)

In [67]:
#third attempt
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind


df = pd.read_csv("Galaxy210.tabular",sep='\t',header=(0))

df = df.rename(columns = {df.columns[1] : "smtav4_histat2", df.columns[2] : "smtav6_histat2", df.columns[3] :"smtav7_histat2" , df.columns[4] : "smtav4_rnastar2", df.columns[5] : "smtav6_rnastar", df.columns[6] : "smtav7_rnastar"})

results = []
for gene in range(5):
    #testresult = list(testresult)
    #testresult = []
    method_1 = df.loc[gene,:].values.flatten().tolist()
    method_2 = method_1[4:7]
    method_1 = method_1[1:4]
    ttest_result = ttest_ind(method_1, method_2)
    print(testresult)
    df.loc[gene,7] = ttest_result[0]
    df.loc[gene,8] = ttest_result[1]
    #print(f'{ttest_result[0]}, {ttest_result[1]}')
    df.loc[gene,"new"] = gene
    #results.append((ttest_result[0], ttest_result[1]))
    
#stat_frame = pd.DataFrame(results, columns=[ "statistics", "pvalue"])
#print(stat_frame.head(10))
print(df.head(10))
#print(stat_frame.tail(10))

Ttest_indResult(statistic=-0.1961529864126995, pvalue=0.8540527184085475)
Ttest_indResult(statistic=-0.1961529864126995, pvalue=0.8540527184085475)
Ttest_indResult(statistic=-0.1961529864126995, pvalue=0.8540527184085475)
Ttest_indResult(statistic=-0.1961529864126995, pvalue=0.8540527184085475)
Ttest_indResult(statistic=-0.1961529864126995, pvalue=0.8540527184085475)
   Geneid  smtav4_histat2  smtav6_histat2  smtav7_histat2  smtav4_rnastar2  \
0    1915          385958          337936          307710           387941
1    2512          161098          130481          127085           164265
2    4512          140247          143531          165329           139396
3    6132          122392           94336           87914           142497
4    2597          112404           89925           82727           116335
5    6187          103632           83822           80453           117359
6    4550          103230          108641          121404           103494
7    4514           98558           87495          100806            97797
8    1938           94412           85570           81757            95661
9   23521           90219           76580           70611           105763

   smtav6_rnastar  smtav7_rnastar         7         8  new
0          335829          310553 -0.028130  0.978906  0.0
1          131694          128873 -0.131097  0.902028  1.0
2          142947          164257  0.075592  0.943374  2.0
3          108488          101415 -0.963729  0.389757  3.0
4           91732           84703 -0.196153  0.854053  4.0
5           91472           86257       NaN       NaN  NaN
6          108688          121480       NaN       NaN  NaN
7           86818           99991       NaN       NaN  NaN
8           86074           82257       NaN       NaN  NaN
9           85388           80310       NaN       NaN  NaN

In [73]:
#third attempt
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind


df = pd.read_csv("Galaxy210.tabular",sep='\t',header=(0))

df = df.rename(columns = {df.columns[1] : "smtav4_histat2", df.columns[2] : "smtav6_histat2", df.columns[3] :"smtav7_histat2" , df.columns[4] : "smtav4_rnastar2", df.columns[5] : "smtav6_rnastar", df.columns[6] : "smtav7_rnastar"})

results = []
for gene in range(len(df)):
    method_1 = df.loc[gene,:].values.flatten().tolist()
    method_2 = method_1[4:7]
    method_1 = method_1[1:4]
    ttest_result = ttest_ind(method_1, method_2)
    df.loc[gene,7] = ttest_result[0]
    df.loc[gene,8] = ttest_result[1]
    

print(df.head(10))
print(df.tail(10))

C:\Users\hwbst6\AppData\Local\Temp\ipykernel_20992\1988226852.py:16: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  ttest_result = ttest_ind(method_1, method_2)

   Geneid  smtav4_histat2  smtav6_histat2  smtav7_histat2  smtav4_rnastar2  \
0    1915          385958          337936          307710           387941
1    2512          161098          130481          127085           164265
2    4512          140247          143531          165329           139396
3    6132          122392           94336           87914           142497
4    2597          112404           89925           82727           116335
5    6187          103632           83822           80453           117359
6    4550          103230          108641          121404           103494
7    4514           98558           87495          100806            97797
8    1938           94412           85570           81757            95661
9   23521           90219           76580           70611           105763

   smtav6_rnastar  smtav7_rnastar         7         8
0          335829          310553 -0.028130  0.978906
1          131694          128873 -0.131097  0.902028
2          142947          164257  0.075592  0.943374
3          108488          101415 -0.963729  0.389757
4           91732           84703 -0.196153  0.854053
5           91472           86257 -0.753037  0.493322
6          108688          121480 -0.016999  0.987251
7           86818           99991  0.129699  0.903065
8           86074           82257 -0.137238  0.897473
9           85388           80310 -1.169693  0.307067
       Geneid  smtav4_histat2  smtav6_histat2  smtav7_histat2  \
28385    9865               0               1               0
28386    9892               0               0               0
28387    9899               0               1               1
28388    9920               0               0               0
28389    9934               0               0               4
28390    9947               0               0               0
28391    9951               0               0               1
28392    9956               0               0               0
28393    9963               0               7               3
28394    9992               0               2               4

       smtav4_rnastar2  smtav6_rnastar  smtav7_rnastar    7         8
28385                0               1               0  0.0  1.000000
28386                0               0               0  NaN       NaN
28387                0               1               1  0.0  1.000000
28388                0               0               1 -1.0  0.373901
28389                0               0               4  0.0  1.000000
28390                0               0               0  NaN       NaN
28391                0               0               1  0.0  1.000000
28392                0               0               0  NaN       NaN
28393                0               7               3  0.0  1.000000
28394                0               2               4  0.0  1.000000